
      <footer id="main-footer" >
        <div class="container">
          <div class="row">
              <div class="col-4 text-center">

             
                  <h1 class="hy">Logo Here</h1>
              </div>
              <div class="col-8 text-right p-4">
                  <ul>
                    <li><a href="{{site.baseurl}}/index.html">Home</a></li>
                    <li><a href="{{site.baseurl}}/about.html">About Us</a></li>
                    <li><a href="{{site.baseurl}}/news.html">News</a></li>
                    <li><a href="{{site.baseurl}}/contact.html">Contact Us</a></li>
                  </ul>
                </div> 
              </div>
          </div>
        </div>
